.title {
text-align: center;
color: white;
font-family:'Orbitron', sans-serif ;
}

#bandeau {
    font-family: 'Orbitron', sans-serif;
    color: rgb(19, 89, 196);
    font-size: 300%;
    text-shadow: 2px 2px 2px white ;
    text-transform: uppercase;
    letter-spacing: 3px;
}

body {
    background-color: black;
    margin: 30px;
    
}

.text {
    color: white;
    font-size: x-large;
    text-align: justify
}

.chapeau {
    width: 220px;
}

.guitare{
    width: 300px;
}

.avion{
    width: 350px;
}
.contacts{
    width: 200px;
    
}
.icônes{
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-items: center;
align-items: center;

}
.qui {
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-items: center;
align-items: center;

}

.afrique {
    width: 500px;
}

.sthetoscope{
    width: 500px;
}

.profil{
    width: 400px;
}


.quoi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
    
.photo{
    width: 200px;
}

.contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.fb{
    width: 250px;
}

.insta{
    width: 250px;
}

.linkedin{
    width: 250px;
}

.moi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.geralt{

    width: 600px;
}