.title {
text-align: center;
color: white;
font-family:'Orbitron', sans-serif ;
}

#bandeau {
    font-family: 'Orbitron', sans-serif;
    color: crimson;
    font-size: 300%;
    text-shadow: 2px 2px 2px white ;
    text-transform: uppercase;
    letter-spacing: 3px;
}

body {
    background-image: radial-gradient(circle at center, #B5670C, black );
    color
}

.text {
    color: white;
    font-size: x-large;
    text-align: justify
}

.chapeau {
    width: 220px;
}

.guitare{
    width: 300px;
}

.avion{
    width: 350px;
}
.contacts{
    width: 200px;
}
.icônes{
display: grid;
grid-template-columns: repeat(4, 1fr);

}
.qui {
    

}

